.heading{
margin-top: 30px;
}
.tbl, th,td{
  border: 2px solid black !important;
 }
  .tbl2 td{
  width: 200px !important;
 }
 .GoBack{
  cursor: pointer;
 }

@media print {
  .GoBack{
    display: none;
  }
  #button{
     display: none;
  }
  input{
    border:none;
  }

}
