
<div class="row">
  <div class="col-md-4">
    <mat-card class="bg-dark text-white">
      <mat-card-title>Total Orders</mat-card-title>
        <h2 (click)="getPaidOrders($event)">{{totalOrdersCount}}</h2>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="bg-dark text-white">
      <mat-card-title >Delivered Orders</mat-card-title>
      <h2 (click)="getPaidOrders($event)">{{deliveredOrders}}</h2>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="bg-dark text-white">
      <mat-card-title>Cancelled Orders</mat-card-title>
      <h2 (click)="getPaidOrders($event)">{{cancelledOrders}}</h2>
    </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="my-3 bg-dark text-white">
        <mat-card-title>Paid Online Orders</mat-card-title>
        <h2 (click)="getPaidOrders($event)">{{paidOrders}}</h2>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="my-3 bg-dark text-white">
        <mat-card-title>COD Orders</mat-card-title>
        <h2 (click)="getPaidOrders($event)">{{codOrders}}</h2>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="my-3 bg-dark text-white">
        <mat-card-title>In-Transit Orders</mat-card-title>
        <h2 (click)="getPaidOrders($event)">{{InTransitOrders}}</h2>
      </mat-card>
    </div>
  </div>
