<!-- Intro -->
<section class="view">

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div class="jumbotron-section" >

        <h3>KNOW YOUR HONEY</h3>
        <div class="section1-text">
            <p>To standardise taste, texture and flavour, big brands destroy all the beneficial properties of your
              honey with ultra filtration and heating.</p>
            <p> But at Honey and Spice, we collect the nectar from nature and bring it to you in its purest form.</p>
            <p> Our Honey is not heated, blended or processed which ensures it has the maximum nutrients and benefits.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class=" mb-4">
          <div class="view img-contaner">
            <!-- <youtube-player class="img-contaner img-fluid"
                videoId="Z54bL6kjyOI"
                suggestedQuality="highres"
                [height]="350"
                [startSeconds]="0"
                [endSeconds]="30">
            </youtube-player> -->
            <iframe width="100%" height="340" src="https://www.youtube.com/embed/XVSFDz314lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <!-- <iframe width="100%" height="340" src="https://www.youtube.com/embed/Z54bL6kjyOI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
      </div>
    </div>

</div>
</div>
</section>
