.custom_overlay_wrapper { position: relative; }

.custom_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.custom_overlay_inner {
	position: absolute;
	top: 50%;
	left: 73px;
  transform: translateY(-50%);
  background: rgba(233, 236, 239, .6)
}
.custom_overlay_inner span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #EBA937;
}
.custom_overlay_inner h2 {
  font-size: 46px;
  color: #252525;
  line-height: 52px;
  font-weight: 700;
  margin: 10px 0;
}
.custom_overlay_inner p {
  margin-bottom: 35px;
}
p {
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
.primary-btn {
  display: inline-block;
  font-size: 14px;
  padding: 10px 28px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background: #EBA937;
  letter-spacing: 2px;
  text-decoration: none;
}
.animate-caption {
  transform: translateY(-50%);
  opacity: 0.5;
}
.OWLCarousel{
  height: 200px !important;
}




/*------------------- TABLET ------------------*/
@media only screen and ( min-width: 600px ) and ( max-width: 999px ) {
	.custom_overlay h4 { font-size: 80%;}
	.custom_overlay p {
		font-size: 85%;
		line-height: 1.2em;
	}
}

/*------------------- MOBILE ------------------*/
@media only screen and ( max-width: 599px ) {
	.custom_overlay h4 { font-size: 100%;}
  .custom_overlay p { font-size: 100%;}
  ::ng-deep .owl-carousel .owl-item img { height: 300px !important;}
  .custom_overlay_inner {
    top: 60%;
    left: 21px;
    transform: translateY(-50%);
    display: none;
  }
}
.btnbanner{
  box-shadow: #094c66 4px 4px 0px;
  transition: transform 200ms ,box-shadow 200ms;
  cursor: pointer;

}
.btnbanner:hover{
  transform: translateY(4px) translateX(4px);
  box-shadow: #094c66 0px 0px 0px;
  color: black;
  background-color: white;

}
