.mt-100 {
  margin-top: 100px !important;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-1{
  margin-top: 20% !important;
}
ul{
  cursor: pointer;
  list-style-type:none;
}
li:hover{
  background-color: lightgray;
  color:black;
}

