

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #EBA937;
}
a {
  color: #48494b;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
  
}
