<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-6">
      <div class="img-contaner mb-4" ><!-- data-aos="slide-right" -->
        <img class="w-100 "  style="height: 340px;" src="assets/images/HoneyBee.gif">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron-section"   >

        <h3>NECTAR FROM NATURE</h3>
        <div class="section2-text" >
          <p>
            Harvested in a sustainable way from wild beehives by our tribal partners, trained by WWF and other organisations. Our cruelty free harvesting harms no honey bees or their hives.
          </p>
          <p class="font-weight-bold">
            We neither add nor remove anything from the honey that's made by the bees.
          </p>
          <div class="" >
            <button  mat-raised-button  routerLink="products">Shop Now </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
