
<div class="container mt-5">
  <div class="row">
  <div class="col-lg-3" *ngFor="let category of categories">
  <a href='#' class="url-box" >
    <figure class='newsCard news-Slide-up '>
      <img src="https://source.unsplash.com/1600x900/?books"/>
      <div class='newsCaption px-4'>
      <div class="d-flex align-items-center justify-content-between cnt-title">
       <h5 class='newsCaption-title text-white m-0'>{{category.name}}</h5>
       <i (click)="getCat(category)" class="fas fa-arrow-alt-circle-right "></i>
       </div>
       <div class='newsCaption-content d-flex '>
       <p class="col-10 py-3 px-0">{{category.id}} </p>
      </div>
      </div>
      <span class="overlay"></span>
    </figure>
  </a>
  </div> <!-- end card1-->



