.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.side-menu-panel {
  background-color: #FF9033;
  color: #f0ececde;
}

.mat-expansion-panel-header-title {
  color: #f0ececde;
}
::ng-deep .mat-expansion-indicator::after {
  color:  #171414 !important;
}
::ng-deep .mat-expansion-panel-body {
  background-color: white !important;
}

.mat-list-item {
  color: rgb(237, 240, 243);
}
.mat-list-item:hover {
  background-color: rgba(221, 138, 69, 0.938);
  color: aliceblue;
}
.items{
  color:black;
}

