.sideNav {
  width:300px;
  background-color: #ff8f33de;
}

.example-container {
  background-color: #ffffff;
  //color: #FF9033 !important;
}

.txt-color {
  color:black !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  background-color: #FF9033;
}
.mat-icon {
  color: aliceblue;
}



