.sideNav {
  width:300px;
  background-color: #3081ED;
}

.example-container {
  background-color: #ffffff;
  //color: #FF9033 !important;
}

.txt-color {
  color:black !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.mat-icon {
  color: aliceblue;
}



