.footer-section {
  /* background: #EBA937; */ /*#7ca046 191919 */
  // background: linear-gradient(rgba(236, 194, 7, 0), rgba(218, 233, 11, 0)), url("../../../assets/images/header-bg.png");
 background-color: #CAAFA8;
  padding-top: 65px;
}
.footer-section ul, ol {
    padding: 0;
    margin: 0;
}

.copyright-reserved {
  border-top: 1px solid #e29f2a;
  padding: 15px 0;
  margin-top: 35px;
}

.copyright-reserved .copyright-text {
  //float: left;
  font-size: 16px;
  color: #333;
}
.copyright-reserved .copyright-text a{
  text-decoration: none;
  color: #333;
}
.footer-left {
  margin-bottom: 20px;
}
.footer-left .footer-logo {
  margin-bottom: 24px;
}
.footer-left .footer-logo img{
  width: 150px;
}
.footer-left ul li {
  list-style: none;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}
.footer-left .footer-social {
  padding-top: 25px;
}
.footer-left .footer-social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #e7aa40cb;
  color: #666;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
  z-index: 1;
}
.footer-left .footer-social a:hover {
  background: #fdfdfd;
}
.footer-widget {
  margin-bottom: 20px;
}
.footer-widget h5 {
  color: #333;
  font-weight: 700;
  margin-bottom: 26px;
}
.footer-widget ul li a {
  line-height: 36px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
.footer-widget ul li a:hover {
  color: #ffffff;
}
.footer-widget ul li {
  list-style: none;
}
.newslatter-item h5 {
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}
.newslatter-item p {
  color: #444;
  font-size: medium;
}
.newslatter-item ul li {
  list-style: none;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}
.newslatter-item .subscribe-form {
  position: relative;
  margin-top: 15px;
}
.newslatter-item .subscribe-form input {
  color: #444;
  background: whitesmoke;
  width: 100%;
  height: 51px;
  font-size: 16px;
  border: none;
  padding-left: 20px;
}
.newslatter-item .subscribe-form button {
  display: inline-block;
  color: #222;
  background: #EBA937; /* EBA937 */
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #EBA937;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 15px 10px 13px;
  cursor: pointer;
}

.newslatter-item .footer-social {
  padding-top: 15px;
}
.newslatter-item .footer-social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #e7aa40cb;
  color: #666;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
  z-index: 1;
}
.newslatter-item .footer-social a:hover {
  background: #fdfdfd;
}

