.mat-raised-button.mat-primary {
  background-color: #333235;
}
.mat-raised-button.mat-primary:hover {
  background-color: #cfcbd3;
  color: black;
}
.form-example {
  border: 1px solid #b1aeae;
  border-radius: 5px;
}
